<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.farmerassist07">

    <application
        android:allowBackup="true"
        android:icon="@drawable/farmer_assist_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/farmer_assist_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FarmerAssist07">
        <activity android:name=".FarmerHome"></activity>
        <activity android:name=".BuyerRequestActivity" />
        <activity android:name=".FarmerOfferActivity" />
        <activity android:name=".BuyerHome" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>